<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<!--  
		* DTD(Document Type Definition 문서타입정의)
		  XML문서의 구조 및 해당 문서에서 사용할 수 있는 적법한 요소와 속성을 정의 (이 문서가 유효한지 유효성 검사도 됨)
	-->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.withus.funding.model.vo.Project" alias="Project" />
		<typeAlias type="com.kh.withus.community.model.vo.Community" alias="Community" />
		<typeAlias type="com.kh.withus.community.model.vo.CommuReply" alias="CommuReply" />
		<typeAlias type="com.kh.withus.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.kh.withus.order.model.vo.Order" alias="Order" />
		<typeAlias type="com.kh.withus.refund.model.vo.Refund" alias="Refund" />
		<typeAlias type="com.kh.withus.funding.model.dto.FundingDetail" alias="FundingDetail" />
		<typeAlias type="com.kh.withus.myPage.model.vo.MyPage" alias="MyPage"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/funding-mapper.xml" />
		<mapper resource="/mappers/community-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/order-mapper.xml" />
		<mapper resource="/mappers/refund-mapper.xml" />
		<mapper resource="/mappers/myPage-mapper.xml"/>	
	</mappers>
	
</configuration>
