<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 6/29 윤경 생성 -->

<mapper namespace="categoryMapper">
	<resultMap id="category" type="Category">
		<id column="cat_no" property="catNo" />
		<result column="cat_name" property="catName" />
		<result column="cat_tag" property="catTag" />
		<result column="cat_file" property="catFile" />
	</resultMap>
	
	<select id="menuList" resultMap="category">
		select
		       cat_no
		     , cat_name
		     , cat_tag
		     , cat_file
		  from category
	</select>
	
	<!-- 
	<select id="selectCate" resultMap="category" parameterType="_int">
		select
		       cat_name
		     , cat_tag
		  from category
		 where cat_no = #{catNo}
	</select>
	 -->
	 
	<insert id="insertCate" parameterType="Category">
		insert
		  into category
		     (
		       cat_no
		     , cat_name
		     , cat_tag
		     )
		values
		     (
		       seq_cno.nextval
		     , #{catName}
		     , #{catTag}
		     )
	</insert>
	
	<select id="selectCate" resultMap="category" parameterType="_int">
		select
		       cat_no
		     , cat_name
		     , cat_tag
		  from category
		 where cat_no = #{catNo}
	</select>
	
	
	<update id="updateCate" parameterType="_int">
		update
		       category
		   set cat_name = #{catName}
		     , cat_tag = #{catTag}
		 where cat_no = #{catNo} 
	</update>
	
	<delete id="deleteCate" parameterType="_int">
		delete
		  from category
		 where cat_no = #{catNo}
	</delete>
	
</mapper>