<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="communityMapper">

	<!-- 커뮤니티상세 -->
	<resultMap id="community" type="Community">
		<id column="commu_no" property="commuNo"/>
		<result column="commu_writer" property="commuWriter"/>
		<result column="commu_cate" property="commuCate"/>
		<result column="commu_title" property="commuTitle"/>
		<result column="commu_content" property="commuContent"/>
		<result column="commu_create" property="commuCreate"/>
		<result column="count" property="count"/>
		<result column="commu_status" property="commuStatus"/>
		<result column="commu_origin" property="commuOrigin"/>
		<result column="commu_change" property="commuChange"/>
	</resultMap>
	
	<!-- 댓글 -->
	<resultMap id="commuReply" type="CommuReply">
		<result column="com_re_no" property="comReNo"/>
		<result column="com_re_writer" property="comReWriter"/>
		<result column="com_re_content" property="comReContent"/>
		<result column="com_re_create" property="comReCreate"/>
	</resultMap>
  
  	<!-- 커뮤리스트 조회 -->
	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from community
		 where commu_status = 'Y'
	</select>
	
	<!-- 커뮤리스트뷰 조회 -->
	<select id="selectList" resultMap="community">
		select 
		       commu_no
		     , commu_cate
		     , commu_title
		     , commu_writer
		     , count
		     , to_char(commu_create, 'YYYY-MM-DD') commu_create
		  from community
		 where commu_status = 'Y'
		 order
		    by commu_no desc 
	</select>
	
	<insert id="insertCommunnity" parameterType="Community">
		insert 
		  into community
		  (
		    commu_no
		  , commu_cate
		  , commu_title
		  , commu_writer
		  , commu_content
		  , commu_origin
		  , commu_change
		  )
		  values
		  (
		    seq_comno.nextval
		  , #{commuCate}
		  , #{commuTitle}
		  , #{commuWriter}
		  , #{commuContent}
		  , #{commuOrigin}
		  , #{commuChange}
		  )
	</insert>
	
	<update id="increaseCount" parameterType="_int">
		update
		       community
		   set count = count+1
		 where commu_no = #{commuNo}
		   and commu_status = 'Y'
	</update>
	
	<select id="selectCommunity" resultMap="community" parameterType="_int">
		select
			   commu_no
			 , commu_cate
			 , commu_title
			 , commu_writer
			 , commu_origin
		     , commu_change
		     , to_char(commu_create, 'YYYY-MM-DD') commu_create
		  from community
		 where commu_no = #{commuNo}
	</select>
	
	<update id="deleteCommunity" parameterType="_int">
		update
		       community
		   set commu_status = 'N'
		 where commu_no = #{commuNo}
	</update>
	
	<update id="updateCommunity" parameterType="Community">
		update
		       community
		   set commu_title = #{commuTitle}
		     , commu_content = #{commuContent}
		     , commu_origin = #{commuOrigin}
		     , commu_change = #{commuChange}
		 where commu_no = #{commuNo}
	</update>
	
	 
	<select id="selectCommuReplyList" resultMap="commuReply" parameterType="_int">
		select
		       com_re_no
		     , com_re_content
			 , com_re_writer
		     , to_char(com_re_create, 'YYYY-MM-DD') com_re_create
		  from commu_Reply
		 where com_re_status = 'Y'
		  and ref_cno = #{commuNo}
		 order
		    by com_re_no desc
	</select>
	
	<insert id="insertCommuReply" parameterType="CommuReply">
		insert
		  into commu_Reply
		  (
		    com_re_no
		  , com_re_content
		  , ref_cno
		  , com_re_writer
		  )
		  values
		  (
		    seq_comrno.nextval
		  , #{comReContent}
		  , #{refCommuNo}
		  , #{comReWriter}
		  )
	</insert>
	 
	
     <!-- 커뮤 검색기능 -->
	<select id="selectSearchListCount" resultType="_int" parameterType="hashmap">
		select
		       count(*)
		  from community c
		  join member on(commu_writer = member_no)
		 where c.commu_status = 'Y'
		 	<if test="condition == 'title'">
		    	and commu_title
		    </if>
		    <if test="condition == 'content'">
		    	and commu_content
		    </if>
		    <if test="condition == 'writer'">
		    	and member_id
		    </if>
		        like '%' || #{keyword} || '%'
	</select>
	
	<select id="selectSearchList" resultMap="boardResultSet" parameterType="hashmap">
		select 
               commu_no
             , commu_title
             , member_id
             , count
             , create_date
          from community c
          join member on(commu_writer = member_no)
         where c.commu_status = 'Y'
           <choose>
           		<when test="condition == 'title'">
           			and commu_title
           		</when>
           		<when test="condition == 'content'">
           			and commu_content
           		</when>
           		<otherwise>
           			and member_id
           		</otherwise>
           </choose>
           		like '%' || #{keyword} || '%'           	
         order
            by create_date desc
	</select>/otherwise>
           </choose>
           		like '%' || #{keyword} || '%'           	
         order
            by create_date desc
	</select>
	
	
	
	
	
	
	
	
  
  
</mapper>
