<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 <mapper namespace="fundingMapper">
 	
 	<resultMap id="fundingListResultSet" type="Project">
		<id column="project_no" property="projectNo" />
		<result column="project_thum" property="projectThum" />
		<result column="project_title" property="projectTitle" />
		<result column="cat_no" property="catNo" />
		<result column="cat_name" property="catName" />
		<result column="partner_name" property="memberNo" />
		<result column="total_price" property="totalPrice" />
		<result column="project_gprice" property="projectGprice" />
		<result column="project_start_dt" property="projectStartDT" />
		<result column="project_end_dt" property="projectEndDT" />
		<result column="percentage" property="percentage" />
		<result column="dday" property="dday" />
	</resultMap>
	
	<resultMap id="fundingDetail" type="FundingDetail">
		<result column="cat_no" property="catNo" />
		<result column="cat_name" property="catName" />
		<result column="project_no" property="projectNo" />
		<result column="project_title" property="projectTitle" />
		<result column="project_thum" property="projectThum" />
		<result column="total_price" property="totalPrice" />
		<result column="project_gprice" property="projectGprice" />
		<result column="dday" property="dday" />
		<result column="supporter" property="supporter" />
		<result column="project_end_dt" property="projectEndDt" />
		<result column="pay_date" property="payDate" />
		<result column="delivery_date" property="deliveryDate" />
		<result column="project_content" property="projectContent" />
		<result column="project_refcon" property="projectRefcon" />
		<result column="hashtag" property="hashtag" />
		<result column="member_no" property="memberNo" />
		<result column="partner_name" property="partnerName" />
		<result column="partner_intro" property="partnerIntro" />
		<result column="member_profile" property="memberProfile" />
		<result column="partner_phone" property="partnerPhone" />
		<result column="partner_email" property="partnerEmail" />
		<result column="phone_yn" property="phoneYn" />
		<result column="reward_no" property="rewardNo" />
		<result column="reward_price" property="rewardPrice" />
		<result column="reward_stock" property="rewardStock" />
		<result column="reward_title" property="rewardTitle" />
		<result column="reward_ship" property="rewardShip" />
		<result column="reward_content" property="rewardContent" />
		<result column="option_yn" property="optionYn" />
	</resultMap>
	
	<resultMap id="Category" type="Category">
		<id column="cat_no" property="catNo" />
		<result column="cat_name" property="catName" />
		<result column="cat_tag" property="catTag" />
		<result column="cat_file" property="catFile" />
	</resultMap>
	
	<select id="selectCate" resultMap="Category">
		select
			   cat_no
			 , cat_name
			 , cat_file
		  from category
	</select>
	
 	<select id="selectList" resultMap="fundingListResultSet">
		select
               p.project_no
             , p.project_thum
             , p.project_title
             , c.cat_no
             , c.cat_name
             , m.partner_name
             , sum(o.total_price) total_price
             , floor(sum(o.total_price) / p.project_gprice * 100) percentage
             , p.project_gprice
             , p.project_start_dt
             , p.project_end_dt
             , ceil(project_end_dt - sysdate) dday
          from 
          	   tb_order o
             , project p
             , category c
             , member m
         where p.project_no = o.project_no 
           and p.cat_no = c.cat_no 
           and p.member_no = m.member_no 
           and o.order_status = 1
         group
         	by p.project_no
         	 , p.project_title
         	 , p.project_thum
         	 , c.cat_no
         	 , c.cat_name
         	 , m.partner_name
         	 , p.project_gprice
         	 , p.project_start_dt
         	 , p.project_end_dt  
         order 
            by p.project_no asc
	</select>
	
	
	<update id="increaseCount" parameterType="_int">
		update
		       project
		   set project_count = project_count+1
		 where project_no = #{projectNo}
		   and project_status = 3
	</update>
    
    <select id="selectFunding" resultMap="fundingDetail" parameterType="FundingDetail">
	    select
	       cat_no
	     , cat_name
	     , project_no
	     , project_title
	     , project_thum
	     , (select sum(total_price)
	          from tb_order
	         where project_no = #{projectNo}) total_price
	     , project_gprice
	     , (select (select sum(total_price)
	          from tb_order
	         where project_no = #{projectNo}) / project_gprice * 100
	          from project
	         where project_no = #{projectNo}) percentage
	     , ceil(project_end_dt - sysdate) dday
	     , (select count(*)
	          from tb_order
	         where project_no = #{projectNo}) supporter
	     , project_end_dt
	     , to_char(project_end_dt + 1, 'MM"월" DD"일"') pay_date
	     , delivery_date
	     , project_content
	     , project_refcon
	     , hashtag
	     , member_no
	     , partner_name
	     , partner_intro
	     , member_profile
	     , partner_phone
	     , partner_email
	     , phone_yn
	  from project
	  join member using(member_no)
	  join category using(cat_no)
	 where project_status = 3
	   and project_no = #{projectNo}
    </select>
    
    <select id="selectReward" resultMap="fundingDetail" parameterType="Order">
    	select
	       reward_no
	     , reward_price
	     , reward_stock
	     , reward_title
	     , reward_content
	     , option_yn
	  from reward
	 where project_no = #{projectNo}
    </select>
    
    <select id="selectDetailReward" resultMap="fundingDetail" parameterType="FundingDetail">
    	select 
		       project_title
		     , reward_no
		     , reward_title
		     , reward_price
		     , reward_stock
		     , delivery_date
		     , reward_ship
		     , reward_content
		     , option_yn
		  from reward
		  join project using(project_no)
		 where 
		       project_no = #{projectNo}
    </select>
    
    <select id="selectOneReward" resultMap="fundingDetail" parameterType="Order">
    	select
    	       reward_title
    	     , reward_price
    	     , reward_content
    	  from reward
    	 where
    	       reward_no = #{rewardNo}
    </select>
    
    <insert id="insertOrderTable" parameterType="Order">
    	insert
    	  into tb_order
    	     (
    	       order_no
    	     , project_no
    	     , member_no
    	     , reward_no
    	     , pur_email
    	     , order_plus
    	     , total_price
    	     , bank_name
    	     , bank_account
    	     , receiver_name
    	     , receiver_phone
    	     , address_no
    	     , address_detail
    	     , address
    	     , shipping_req
    	     , order_date
    	     , order_count
    	     , order_option
    	     )
    	values
    	     (
    	       seq_odrno.nextval
    	     , #{projectNo}
    	     , #{memberNo}
    	     , #{rewardNo}
    	     , #{purEmail}
    	     , #{orderPlus}
    	     , #{totalPrice}
    	     , #{bankName}
    	     , #{bankAccount}
    	     , #{receiverName}
    	     , #{receiverPhone}
    	     , #{addressNo}
    	     , #{addressDetail}
    	     , #{address}
    	     , #{shippingReq}
    	     , sysdate
    	     , #{orderCount}
    	     , #{orderOption}
    	     )
    </insert>
    
    <update id="minusStock" parameterType="Order">
    	update
		       reward
		   set reward_stock = reward_stock-#{orderCount}
		 where reward_no = #{rewardNo}
		   and reward_status = 'Y'
    </update>
    
	<insert id="insertProject" parameterType="Project">
		insert
		  into project
	 	  	 (
			   project_no   
			 , member_no 
			 , cat_no       
			 , project_title  
			 , project_summary
			 , project_gprice
			 , project_start_dt  
			 , project_end_dt
			 , project_thum
			 , project_count   
			 , project_content
			 , project_refcon
			 , hashtag
			 , delivery_date
			 , partner_phone
			 , phone_yn
			 , partner_email
			 , partner_bank
			 , partner_account
			 , partner_acholder
			 , partner_web
			 , partner_sns
			 )
	    values
			 (
			   seq_pno.nextval
			 , #{memberNo}
			 , #{catNo}
			 , #{projectTitle}
			 , #{projectSummary}
			 , #{projectGprice}
			 , #{projectStartDT}
			 , #{projectEndDT}
			 , #{projectThum}
			 , #{projectCount}
			 , #{projectContent}
			 , #{projectRefcon}
			 , #{hashtag}
			 , #{deliveryDate}
			 , #{partnerPhone}
			 , #{phoneYN}
			 , #{partnerEmail}
			 , #{partnerBank}
			 , #{partnerAccount}
			 , #{partnerAcholer}
			 , #{partnerWeb}
			 , #{partnerSNS}
			 )
    </insert>
 
  	<insert id="insertReward" parameterType="Reward">
 		insert 
 		  into Reward
 		     (
 		       reward_no
 		     , project_no
 		     , reward_price
 		     , reward_status
 		     , reward_stock
 		     , reward_ship
 		     , reward_title
 		     , reward_content
 		     , reward_yn
 		     , reward_option
 		     )
 		value
 		     (
 		       seq_rno.nextval
 		     , seq_pno.currval
 		     , #{rewardPrice}
 		     , #{rewardStatus}
 		     , #{rewardStock}
 		     , #{rewardShip}
 		     , #{rewardTitle}
 		     , #{rewardContent}
 		     , #{optionYn}
 		     , #{rewardOption}
 		     )
 	</insert>

 </mapper>