<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="Member">
		<id column="member_no" property="memberNo"/>
		<result column="member_id" property="memberId"/>
		<result column="member_pwd" property="memberPwd"/>
		<result column="member_name" property="memberName"/>
		<result column="member_phone" property="memberPhone"/>
		<result column="member_createdt" property="memberCreateDt"/>
		<result column="member_link" property="memberLink"/>
		<result column="report_count" property="reportCount"/>
		<result column="member_status" property="memberStatus"/>
		<result column="member_profile" property="memberProfile"/>
		<result column="partner_join" property="partnerJoin"/>
		<result column="partner_name" property="partnerName"/>
		<result column="partner_intro" property="partnerIntro"/>
		<result column="follow_member_no" property="followMemberNo"/>
	</resultMap>
	
	<select id="loginMember" resultMap="memberResultSet" parameterType="Member">
		
		select
  		       member_no
  		     , member_id
  		     , member_pwd
  		     , member_name
  		     , member_phone
  		     , member_create_dt
  		     , member_link
  		     , report_count
  		     , member_status
  		     , member_profile
  		     , partner_join
  		     , partner_name
  		     , partner_intro
  		  from member
  		 where member_status IN ('Y', 'A')
  		   and member_id = #{memberId}
	</select>
	
	<insert id="insertMember" parameterType="Member">
		insert
		  into member
		  (
		  	member_no
		  , member_name
		  ,	member_id
		  , member_pwd
		  )
		  values
		  (
		  	seq_mno.nextval
		  , #{memberName}
		  , #{memberId}
		  , #{memberPwd}
		  )
	</insert>
	
	<update id="updateMember" parameterType="Member">
		update
  				member
  			set member_id = #{memberId}
   			  , member_name = #{memberName}
  			  , member_create_dt = sysdate
  		  where member_id = #{memberId}
	</update>
	
	<update id="deleteMember" parameterType="string">
		update
  		       member
  		   set status = 'N'
  		     , member_create_dt = sysdate
  		 where member_id = #{memberId}
	</update>
	
	<select id="idCheck" resultType="_int" parameterType="string">
  		select
  		       count(*)
  		  from member
  		 where member_id = #{memberId}
  	</select>
  	
  	<insert id="insertMemberLogin" parameterType="Member">
		insert
		  into member
		  (
		  	member_id
		  , member_pwd
		  )
		  values
		  (
		    #{memberId}
		  , #{memberPwd}
		  )
	</insert>
	
</mapper>
